<!--В файлах .html можно прописывать конструкции для отображения информации, например из БД-->
<!--Сделаем, чтоб на каждой странице был свой заголовок, переданный ей через параметр Title-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    Разметка шаблона в соответствии с модулем Jinja2-->
<!--    <title>Title - main page</title>-->
<!--    <title>{{ title }}</title>-->

<!--    Продолжим совершенствовать шаблон-->
<!--    Добавим гибкость нашему шаблону, вместо отображения нашего заголовка, мы будем отображать заголовок  Flask - main page-->
<!--    Если параметр title указан то заголовок формируется Flask - main page - title, который был передан этому шаблону-->
{% if title %}
<title>Flask - main page - {{ title }}</title>
{% else %}
<title>Flask - main page</title>
{% endif %}
</head>
<body>
<!--Добавим в шаблон простой список - наше главное меню - пропишем конструкцию, где-->
<!--через цикл for будем перебирать список menu и отображать его в виде элементов списка-->
<ul>
{% for m in menu %}
<li>{{m}}</li>
{% endfor %}
</ul>

<!--<h1>The main page of website</h1>-->
<!--<h1>{{ title }}</h1>-->

<!--    Добавим гибкость нашему тегу h1 -->
<!--    Если заголоыок был передан , то title будет в заголовке отображаться, а если не передан, то будет отображаться Flask - our main page-->
{% if title -%}
<h1>{{title}}</h1>
{% else -%}
<h1>Flask - our main page</h1>
{% endif %}


</body>
</html>